<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title | default('Home') }} - Minimal</title>
  {% block page_header %}
  {% endblock %}
</head>
<body>
  {% block page_message %}
    {% for message in get_flashed_messages() %}
      <span>{{ message }}</span>
    {% endfor %}
  {% endblock %}
  {% block page_content %}
  {% endblock %}
</body>
</html>
