{% extends 'base.html' %}

{% block page_header %}
{% endblock %}

{% block page_content %}
  <form action="{{ url_for('note.new') }}" method="POST">
    {{ form.csrf_token() }}
    <div class="cx-form-line">
      {{ form.content.label(class='cx-form-label') }}
      {{ form.content(class='cx-form-input') }}
    </div>
    <div class="cx-form-action">
      {{ form.submit(class='cx-form-button') }}
    </div>
  </form>

  <ul class="cx-note-list">
    {% for note in notes %}
    <li id="#note-{{ note.id }}">
      <p>{{ note.summary }}</p>
      <span>updated_at: {{ note.updated_at }}</span>
      <span>created_at: {{ note.created_at }}</span>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
